@CHARSET "UTF-8";


div{
	background-color: #F6E497;
	width: 500px;
	height: 300px;
	
}

h1{
	width: 300px;
	height: 100px;
	background-color: white;
	border: 1px solid black;
}

.para1{
	width: 400px;
	background-color: red;
	padding: 60px;
	border: 5px solid #ADCF4F;
}